_ReSharper.*/
package/
_ReSharper*
*.user
*.suo
*.cache
*.orig
*.pdb
*.ReSharper
connectionStrings.config
docs/**/*.~*
[oO]bj
[bB]in
*.Publish.xml
log
[Tt]humbs.db
~$*
[Ll]icen[cs]e.config
tools/NHProfiler/log.txt